.color-selector {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
    font-family: "Grotezk Fett";

    >span {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
    }

    .slider-track {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        span {
            font-size: 0.85rem;
            font-weight: 500;
        }

        .slider-input {
            display: flex;
            align-items: start;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 10px;
            border-radius: 5px;
            background: gray;
            outline: none;
            position: relative;
            cursor: pointer;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                height: 18px;
                width: 18px;
                border-radius: 50%;
                background: var(--thumb-color, #fff);
                border: 2px solid #fff;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
                margin-top: -4px;
                transition: background 0.2s ease;
            }

            &::-moz-range-thumb {
                height: 18px;
                width: 18px;
                border-radius: 50%;
                background: var(--thumb-color, #fff);
                border: 2px solid #fff;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
                transition: background 0.2s ease;
            }
        }
    }
}