.datepicker-container {
    .datepicker-selector-block {
        position: absolute;
        margin-top: 0.5rem;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
        display: flex;
        background-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-0));
        border: 2px solid hsla(var(--cp-h), var(--cp-s), var(--cp-l-5), 0.7);
        border-radius: var(--border-radius-default);

        &.w-300-cor-05{
            width: calc(300px - 1.2rem);
        }

        &.list-unvisible{
            animation: fadeOut 0.2s normal forwards linear;
        }

        &.list-visible{
            animation: fadeIn 0.2s normal forwards linear;
        }
    }
}

@keyframes fadeOut {
    0% {
        display: flex;
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}