.custom-text-input{
    display: flex;
    flex-direction: column;
    gap: 3px;

    .input-label{
        font-family: "Grotezk Regular";
        font-size: var(--f-XM);
        color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-6));
    }

    .input-field{
        padding: 0.5rem;
        background-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-0));
        border: 2px solid hsla(var(--cp-h), var(--cp-s), var(--cp-l-5), 0.7);
        border-radius: var(--border-radius-default);
        font-family: "Grotezk Regular", "Grotezk Cyrillic Regular";
        font-size: var(--f-XM);
        color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-7));
        outline: none;
        width: --webkit-fill-available;
        &::placeholder{
            color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-5));
        }
        
        &:hover{  
            border: 2px solid hsla(var(--cp-h), var(--cp-s), var(--cp-l-5), 1);
        }
        &:focus{  
            border: 2px solid hsla(var(--cp-h), var(--cp-s), var(--cp-l-6), 0.7);
        }
    }
}

.album-title-input{
    width: 300px;
}