.collection-sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-1));
  padding-top: calc(4rem);
  color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-7));
  border: var(--border-default) solid hsl(var(--cp-h), var(--cp-s), var(--cp-l-4));
  border-left: none;
  border-bottom: none;
  box-sizing: border-box;
  transition: left 0.2s ease-in-out;
  z-index: 3;
}

.collection-sidebar.open {
  left: 0;
}

.sidebar-content {
  padding: 1rem;
  height: calc(100% - 2rem);
  display: grid;
  grid-template-rows: 30px auto;

  .last-listened-albums-title{
    font-size: var(--f-L);
    text-align: center;
    font-family: "Grotezk Fett";
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100%;
  z-index: 3;
  display: block;
}

.last-listened-albums-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: -webkit-fill-available;
  padding-right: 5px;
  gap: 15px;
  .album-item {
    padding: 0.75rem;
    border-radius: var(--border-radius-default);
    background-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-3));
      font-family: "Grotezk Regular";

    .album-title{
      font-family: "Grotezk Fett";
    }
  }
}