@import "./vars.scss";
@import "./fonts.scss";

.header-wrapper {
    position: fixed;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto 1fr auto auto;
    padding: 0.5rem 0;
    background-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-1));
    border: var(--border-default) solid hsl(var(--cp-h), var(--cp-s), var(--cp-l-4));
    border-left: 0;
    border-right: 0;
    color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-7));
    height: 3rem;
    z-index: 3;

    &.simple-header {
        padding: 0.5rem 1rem;
    }

    svg {
        fill: hsl(var(--cp-h), var(--cp-s), var(--cp-l-7));
    }
}

.header-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-7));

    .skeumorphic-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: transparent;
        border: 2px solid hsl(var(--cp-h), var(--cp-s), var(--cp-l-4));
        border-radius: var(--border-radius-default);
        box-sizing: border-box;
        z-index: 2;

        &:hover {
            border: 2px solid hsl(var(--cp-h), var(--cp-s), var(--cp-l-5));
        }

        &.active-btn {
            border: 2px solid hsl(var(--cp-h), var(--cp-s), var(--cp-l-6));

            &>button {
                color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-7));
            }

            svg {
                fill: hsl(var(--cp-h), var(--cp-s), var(--cp-l-7));
            }
        }

        &>.search-bar-component,
        .logo-btn,
        .expand-collection-btn,
        .create-btn,
        .settings-btn {
            border-radius: var(--border-radius-default);
            border: 3px solid hsl(var(--cp-h), var(--cp-s), var(--cp-l-0));

            &:hover {
                border-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-0));
            }
        }

        &>button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            aspect-ratio: 1;
            background-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-3));
            color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-6));
            cursor: pointer;

            svg {
                fill: hsl(var(--cp-h), var(--cp-s), var(--cp-l-6));
            }

            &:hover {
                color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-8));

                svg {
                    fill: hsl(var(--cp-h), var(--cp-s), var(--cp-l-8));
                }
            }
        }
    }

    .skeumorphic-bg-accent {
        background-color: transparent;
        border: 2px solid hsl(var(--cp-h), var(--cp-s), var(--cp-l-5));
        border-radius: 50%;
        box-sizing: border-box;
    }
}

.collection-block {
    width: 80px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        background-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-1));
        border: 2px solid hsla(var(--cp-h), var(--cp-s), var(--cp-l-0), 50%);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 5%), var(--accent-opacity));
        }

        &.active,
        &:active {
            background-color: var(--accent-bg-hsl);
        }

        &>svg {
            scale: 0.8;
        }
    }
}

.logo-block {
    button {
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        width: 100%;
        padding: 0 0.5rem;
        cursor: pointer;

        svg {
            height: inherit;
        }
    }
}

.create-block {
    .create-btn {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 120px;
        font-family: "Grotezk Fett";
        font-size: 1.3rem;
        padding: 1rem;
    }
}

.settings-block {
    width: 75px;
    aspect-ratio: 1;

    svg {
        scale: 0.8;
    }
}

@media only screen and (max-width:848px) {
    .logo-block {
        display: none;
    }

    .skeumorphic-bg {
        .search-bar-component {
            width: inherit;
        }
    }

    .collection-block {
        width: 60px;
    }

    .settings-block {
        width: fit-content;
        margin-right: 10px;
    }
}

@media only screen and (max-width:676px) {
    .header-wrapper {
        grid-template-columns: auto 1fr auto auto;

        .logo-block {
            display: flex;
        }

        .settings-block {
            width: fit-content;
            margin-left: 10px;
        }
    }

    .search-bar-block {
        display: none !important;
    }
}