:root {
    // CP - color pallette of the app
    --cp-h: 0;
    --cp-s: 0%;

    --cp-l-0: 7%;
    --cp-l-1: 10%;
    --cp-l-2: 11%;
    --cp-l-3: 15%;
    --cp-l-4: 18%;
    --cp-l-5: 30%;
    --cp-l-6: 60%;
    --cp-l-7: 80%;
    --cp-l-8: 90%;

    --cp-background-hsl: hsl(var(--cp-h), var(--cp-s), var(--cp-l-0));
    --text-main-hsl: hsl(var(--cp-h), var(--cp-s), var(--cp-l-9));

    --accent-h: 0;
    --accent-s: 94%;
    --accent-l: 18%;
    --accent-opacity: 1;
    --accent-bg-hsl: hsla(var(--accent-h), var(--accent-s), var(--accent-l), var(--accent-opacity));

    --error-hsl: hsla(0, 49%, 45%, 1);
    --error-border-hsl: hsla(0, 54%, 31%, 1);



    --f-XL: 1.3rem;
    --f-L: 1.2rem;
    --f-XM: 1.1rem;
    --f-M: 1rem;
    --f-SM: 0.9rem;
    --f-S: 0.8rem;
    --f-XS: 0.7rem;

    --border-radius-default: 5px;
    --border-default: 2px;
}