.search-bar-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0.4rem;

    .search-bar-component {
        display: flex;
        align-items: center;
        width: 400px;
        height: 100%;
        border-radius: var(--border-radius-default);
        background-color: hsla(var(--bg-h), var(--bg-s), 10%, var(--bg-opacity));
        padding: 0 0.2rem;
        box-sizing: border-box;
        // position: relative;
        z-index: 2;
    
        .search-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: var(--border-radius-default);
            background: transparent;
            height: 85%;
            aspect-ratio: 1;
            padding: 0;
            cursor: pointer;
            &:hover{
                background-color: hsla(var(--bg-h), var(--bg-s), 15%, var(--bg-opacity));
            }
    
            svg {
                scale: 0.8;
            }
        }
    
        .search-input {
            border: none;
            background: transparent;
            height: 100%;
            width: 100%;
            outline: none;
            color: var(--text-dimmed-hsl);
            font-size: 1.2rem;
            padding: 0 0.5rem;
            font-family: "Grotezk Fett", "Grotezk Cyrillic Bold";
        }

        &.onfocus {
            border: 2px solid hsla(var(--accent-h), var(--accent-s), 10%, var(--accent-opacity));
            &:hover{
                border: 2px solid hsla(var(--accent-h), var(--accent-s), 15%, var(--accent-opacity));
            }
        }
    }
    .search-results-block{
        display: flex;
        align-items: center;
        position: absolute;
        top: 4rem;
        z-index: 1;
        width: 400px;
        border-radius: var(--border-radius-default);
        background-color: hsla(var(--bg-h), var(--bg-s), 10%, var(--bg-opacity));
        border: 2px solid hsla(var(--border-h), var(--border-s), var(--border-l), 0.1);
            animation-delay: 0.5s;
        .loading-results{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(1px);
            position: absolute;
            svg{
                fill: hsla(var(--border-h), var(--border-s), var(--border-l), 1);
            }
        }
        &.inactive{
            animation: rollDown 0.4s normal forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        &.active{
            animation: rollUp 0.4s normal forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        .results-list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: inherit;
            overflow: hidden;
            width: 100%;
            padding: 0.25rem;
            .last-listened{
                padding: 0.25rem;
                font-family: "Grotezk Fett";
            }
            .last-listened-records{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                gap: 5px;
                .record{
                    display: grid;
                    grid-template-columns: auto 1fr auto;
                    align-items: center;
                    height: 50px;
                    padding: 0.25rem;
                    gap: 10px;
                    background-color: hsla(var(--bg-h), var(--bg-s), 15%, var(--bg-opacity));
                    border-radius: var(--border-radius-default);
                    &>div{
                        height: inherit;
                    }
                    .record-image{
                        display: flex;
                        flex-direction: column;
                        width: auto;
                        img{
                            border-radius: var(--border-radius-default);
                        }
                        .play-hover{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: hsla(var(--bg-h), var(--bg-s), 10%, 0.4);
                            border-radius: var(--border-radius-default);
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            opacity: 0;
                            cursor: pointer;
                            &:hover{
                                opacity: 1;
                            }
                        }
                    }
                    .record-data{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .title{
                            font-family: "Grotezk Fett";
                            text-decoration: none;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        .artist{
                            font-family: "Grotezk Regular";
                            font-size: 0.8rem;
                            text-decoration: none;
                            color: var(--text-low-contrast-hsl);
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .record-control{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: hsla(var(--bg-h), var(--bg-s), 15%, var(--bg-opacity));
                        border-radius: var(--border-radius-default);
                        aspect-ratio: 1;
                        opacity: 0;
                        width: fit-content;
                        height: fit-content;
                        button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: transparent;
                            aspect-ratio: 1;
                            width: 35px;
                            height: 35px;
                            border: none;
                            cursor: pointer;
                        }
                        &:hover{
                            background-color: hsla(var(--bg-h), var(--bg-s), 10%, var(--bg-opacity));
                        }
                    }
                    &:hover > .record-control{
                        opacity: 1;
                    }
                }
            }
            .no-results{
                display: flex;
                justify-content: center;
                padding: 0.25rem;
                font-family: "Grotezk Regular";
                font-size: 1.2rem;
                color: var(--text-low-contrast-hsl);
                user-select: none;
            }
        }
        
    }
}



@keyframes rollDown {
    0% {
       transform: translateY(0px);
    }
    50% {
        height: 10px;
    }
    75% {
        transform: translateY(-3rem);
    }
    100% {
        height: 0px;
        transform: translateY(-3rem);
    }
}

@keyframes rollUp {
    0% {
       height: 0px;
       transform: translateY(-3rem);
    }
    50% {
        transform: translateY(-3rem);
    }
    75% {
        height: 10px;
    }
    100% {
        transform: translateY(0px);
    }
}