.search-results-block {
    display: flex;
    align-items: center;
    min-height: 60px;
    width: inherit;
    border-radius: var(--border-radius-default);
    background-color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-1));
    border: 2px solid hsl(var(--cp-h), var(--cp-s), var(--cp-l-4));
    animation-delay: 0.5s;
    max-height: 500px;

    .loading-results {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: inherit;
        backdrop-filter: blur(1px);
        position: absolute;

        svg {
            fill: hsl(var(--cp-h), var(--cp-s), var(--cp-l-5));
        }
    }
}

.results-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: inherit;
    overflow: hidden;
    padding: 0.5rem 0 1rem;
    gap: 10px;

    .search-results-section{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        &.songs{
            max-height: 250px;
        }
    }

    .title-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.35rem 0;
        font-family: "Grotezk Fett";

        .more {
            display: flex;
            align-items: center;
            font-family: "Grotezk Fett";
            color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-5));
            cursor: pointer;

            svg {
                width: 1.5rem;
                height: 1rem;
                fill: hsl(var(--cp-h), var(--cp-s), var(--cp-l-5));
            }

            &:hover {
                color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-6));
                transition: 0.1s;
                text-decoration: underline;

                svg {
                    fill: hsl(var(--cp-h), var(--cp-s), var(--cp-l-6));
                }
            }
        }
    }

    .no-results {
        display: flex;
        justify-content: center;
        padding: 0.25rem;
        font-family: "Grotezk Regular";
        font-size: 1rem;
        color: hsl(var(--cp-h), var(--cp-s), var(--cp-l-6));
        user-select: none;
    }
}