.items-list.songs {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    gap: 10px;
    padding-right: 5px;

    .song {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 0.3rem;
        border: 2px solid hsla(var(--border-h), var(--border-s), var(--border-l), 0.2);
        background-color: hsla(var(--bg-h), var(--bg-s), 8%, var(--bg-opacity));
        border-radius: var(--border-radius-default);
        gap: 5px;

        .song-image {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: visible;
            position: relative;
            width: 50px;
            aspect-ratio: 1;

            img {
                border-radius: calc(var(--border-radius-default) - 1px);
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

            .playHover {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: inherit;
                aspect-ratio: 1;
                border-radius: calc(var(--border-radius-default) - 1px);
                opacity: 1;

                svg {
                    fill: var(--text-very-dimmed-hsl);
                }

                cursor: pointer;

                &:hover {
                    background-color: hsla(var(--bg-h), var(--bg-s), 8%, 0.6);

                    svg {
                        opacity: 0.85;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .song-info {
            display: flex;
            align-items: center;
            width: 230px;

            .record-data {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                cursor: pointer;

                .title:hover,
                .artist:hover {
                    text-decoration: underline;
                }

                .title {
                    font-family: "Grotezk Fett";
                    color: var(--text-dimmed-hsl);
                }

                .artist {
                    font-family: "Grotezk Mittel";
                    color: var(--text-low-contrast-hsl);
                    font-size: 0.9rem;
                }
            }
        }

        .song-control {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1;
            font-family: "Grotezk Mittel";
            color: var(--text-low-contrast-hsl);
            font-size: 0.9rem;
        }
    }
}